<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
	<head>
		<!-- Required meta tags always come first -->
		<meta charset="utf-8">
		<meta http-equiv="Content-Type" content="text/html">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		
		<title>Edit Page</title>
		<!-- 共通のリンクとスクリプト -->
		<link th:include="include :: head">
	</head>
	
	<body>
		<div th:include="include :: header"></div>
		<div align="center" style="margin: 10px">
			<h1>Edit Page <span th:text="${id}"></span></h1>
		</div>
		
		<div th:include="include :: footer"></div>
		
		<script type="text/javascript">

		</script>
	</body>
</html>