<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div class="selectList">
		<div class="form-group"
			th:each="row,rowStat : ${skillSearchInfo.lsSkill}">
			<label for="inputName" class="col-sm-4 control-label">スキル</label> <select
				th:field="${skillSearchInfo.lsSkill[__${index}__]}"
				class="selectpicker dynamic-select" data-live-search="true" title="下記のスキルを選択してください">
				<optgroup label="資格">
					<option th:each="skill : ${skillOptions}"
						th:if="${skill.skillCategory==1}" th:value="${skill.skillTitleId}"
						th:text="${skill.titleName}"></option>
				</optgroup>
				<optgroup label="環境(OS)">
					<option th:each="skill : ${skillOptions}"
						th:if="${skill.skillCategory==2}" th:value="${skill.skillTitleId}"
						th:text="${skill.titleName}"></option>
				</optgroup>
				<optgroup label="DB">
					<option th:each="skill : ${skillOptions}"
						th:if="${skill.skillCategory==3}" th:value="${skill.skillTitleId}"
						th:text="${skill.titleName}"></option>
				</optgroup>
				<optgroup label="言語">
					<option th:each="skill : ${skillOptions}"
						th:if="${skill.skillCategory==4}" th:value="${skill.skillTitleId}"
						th:text="${skill.titleName}"></option>
				</optgroup>
			</select>
		</div>
	</div>
</body>
</html>